body {
    padding: 30px;
    margin: 0px;
    background-image: url(https://images.all-free-download.com/images/graphiclarge/pets_background_dogs_bone_icons_decoration_repeating_style_6828678.jpg);
}

.main_container {
	background-color: #e5e5e5;
    margin: 10px;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Tekton Pro';
	color: #231f20;
}